body {
    border-radius: 2%;
    border-color:#FF6500;
    font-family: "Courier New", Courier, monospace !important;
    text-align: center;
    background-color:#0B192C;
    color:aliceblue;
}

h1
{
    border-radius: 2%;
    border-color: #1E3E62;
    font-size: 48px;
    font-weight: bold;
    color:#FF6500;
    background-color: #1E3E62;
}

#text1
{
    padding-left: 2%;
    padding-right: 2%;
}

#todo
{
    text-align: center;
    text-indent: 5%;
}

td
{
    text-align: center;
    background-color:#1E3E62;
    Font-weight: bold;
    border-color:#FF6500;
    border-radius:2%;

}


.large
{
    font-size: large;
    font-weight: bold;
}



.blog_heading
{
    font-size: 48px;
    font-weight: bold;
    
}

.background
{
    background-color: #0B192C
    color: 000000;
}


.light_background
{
    background-color: #1E3E62;
}

.footer
{
    color: #FF6500;
    text-align: left;
    font-size: 12px;
}