body {
    border-radius: 2%;
    border-color:#FF6500;
    font-family: "Courier New", Courier, monospace !important;
    text-align: center;
    background-color:#0B192C;
    color:aliceblue;
}

h1
{
    border-bottom: 2%;
    border-color: #1E3E62;
    font-size: 48px;
    font-weight: bold;
    color:#FF6500;
}

div
{
    max-width: 800px;
    margin: 0 auto;
}


a, u{
    text-decoration: none;
}
a {
    color:#FF6500;
    color: inherit;

  }
  
a:hover {
    font-weight: bold;  
    text-decoration-line: underline;
}

#text1
{
    padding-left: 2%;
    padding-right: 2%;
}

#todo
{
    text-align: left;
    Font-weight: bold;
    border-color:#FF6500;
    border-radius:2%;
    width:100%;
    margin: 0 auto;

}


.light_background
{
    background-color: #1E3E62;
}

.footer
{
    color: #FF6500;
    text-align: left;
    font-size: 12px;
}