.centered
{
    text-align: center;
}

.large
{
    font-size: large;
    font-weight: bold;
}

.blog_heading
{
    font-size: large;
    font-weight: bold;
    
}

.background
{
    background-color: 0B192C
}

.orange
{
    color: FF6500;
}

.light_background
{
    color: 1E3E62;
}