<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.title %}{{page.title }} | {{ site.title }}{%else %}{{ site.title }}{% endif %}</title>


<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="Stylesheet" href="{{ '/assets/css/styles_blog.css' | relative_url }}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="scripts_main.js"></script>