body {
    border-radius: 2%;
    border-color:#FF6500;
    background-color: #091413;
    font-family: "Courier New", Courier, monospace !important;
    text-align: center;
    color:aliceblue;
}

h1
{
    border-bottom: 2%;
    font-size: 48px;
    font-weight: bold;
    color:#285A48;
}

div
{
    max-width: 800px;
    margin: 0 auto;
}


a, u
{
    text-decoration: none;
}
a:visited
{
    color:rgb(176, 228, 204);
}
a 
{
    color:#285A48;;
}
  
a:hover {
    color: rgb(176, 228, 204);
    font-weight: bold;  
    text-decoration-line: underline;
}

#text1
{
    padding-left: 2%;
    padding-right: 2%;
}

#todo
{
    text-align: left;
    Font-weight: bold;
    border-color:#285A48;;
    border-radius:2%;
    width:100%;
    margin: 0 auto;

}


.light_background
{
    background-color: #1E3E62;
}

.footer
{
    color: rgb(64, 138, 113);
    text-align: left;
    font-size: 12px;
}